version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
      time: "06:00"
      timezone: Europe/Berlin
    open-pull-requests-limit: 99

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "06:00"
      timezone: Europe/Berlin
    open-pull-requests-limit: 99

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
      time: "06:00"
      timezone: Europe/Berlin
    open-pull-requests-limit: 99

  - package-ecosystem: npm
    directory: "/web"
    schedule:
      interval: daily
      time: "06:00"
      timezone: Europe/Berlin
    open-pull-requests-limit: 99
    ignore:
      - dependency-name: "@angular/*"
        update-types: ["version-update:semver-major"]
    groups:
      angular-minor-updates:
        patterns:
          - "@angular/*"
        update-types:
          - "minor"
          - "patch"
