@use 'sass:map';

$_palettes: (
  primary: (
    0: #000000,
    10: #263238,
    20: #37474f,
    25: #3e515a,
    30: #455a64,
    35: #4d646f,
    40: #546e7a,
    50: #607d8b,
    60: #78909c,
    70: #90a4ae,
    80: #b0bec5,
    90: #cfd8dc,
    95: #eceff1,
    98: #f5f6f7,
    99: #fafbfb,
    100: #ffffff
  ),
  secondary: (
    0: #000000,
    10: #121d22,
    20: #273237,
    25: #323d42,
    30: #3e484e,
    35: #49545a,
    40: #556066,
    50: #6e797f,
    60: #879299,
    70: #a2adb3,
    80: #bdc8cf,
    90: #d9e4eb,
    95: #e7f2f9,
    98: #f4faff,
    99: #fafcff,
    100: #ffffff
  ),
  tertiary: (
    0: #000000,
    10: #004d40,
    20: #00695c,
    25: #007164,
    30: #00796b,
    35: #008173,
    40: #00897b,
    50: #009688,
    60: #26a69a,
    70: #4db6ac,
    80: #80cbc4,
    90: #b2dfdb,
    95: #e0f2f1,
    98: #f3faf9,
    99: #f9fcfc,
    100: #ffffff
  ),
  neutral: (
    0: #000000,
    10: #1a1c1d,
    20: #2f3031,
    25: #3a3b3c,
    30: #464748,
    35: #515253,
    40: #5e5e5f,
    50: #767778,
    60: #909191,
    70: #ababac,
    80: #c7c6c7,
    90: #e3e2e3,
    95: #f1f0f1,
    98: #faf9fa,
    99: #fdfcfd,
    100: #ffffff,
    4: #0d0e0f,
    6: #121414,
    12: #1e2021,
    17: #292a2b,
    22: #343536,
    24: #38393a,
    87: #dadadb,
    92: #e9e8e9,
    94: #eeedee,
    96: #f4f3f4
  ),
  neutral-variant: (
    0: #000000,
    10: #171c1f,
    20: #2b3134,
    25: #363c3f,
    30: #42484b,
    35: #4d5357,
    40: #595f63,
    50: #72787b,
    60: #8c9195,
    70: #a6acb0,
    80: #c2c7cb,
    90: #dee3e7,
    95: #ecf1f5,
    98: #f5fafe,
    99: #fafcff,
    100: #ffffff
  ),
  error: (
    0: #000000,
    10: #b71c1c,
    20: #c62828,
    25: #cc2c26,
    30: #d32f2f,
    35: #dc3432,
    40: #e53935,
    50: #f44336,
    60: #ef5350,
    70: #e57373,
    80: #ef9a9a,
    90: #ffcdd2,
    95: #ffebee,
    98: #fff3f5,
    99: #fff9fa,
    100: #ffffff
  )
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error)
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
